<!-- About Section Start -->
<section
  id="about"
  class="pt-20 dark:bg-dark"
  data-aos="fade-up"
  data-aos-delay="200"
  data-aos-duration="900"
>
  <div class="container">
    <div class="flex flex-wrap">
      <div class="w-full px-4">
        <div class="max-w-xl mx-auto text-center mb-16">
          <h4 class="font-bold uppercase text-primary text-lg mb-3">About</h4>
          <h2
            class="font-bold text-black text-3xl mb-4 sm:text-4xl lg:text-5xl dark:text-white"
          >
            My Journey
          </h2>
          <p class="font-medium text-md text-secondary md:text-lg">
            This section tells the story of my journey — who I am, where I
            studied, and what I’ve experienced so far.
          </p>
        </div>
      </div>
      <!-- Image Section -->
      <div class="w-full lg:w-1/2 px-4 mb-10 lg:mb-0">
        <div class="relative mx-auto max-w-md">
          <!-- Red Circle -->
          <span
            class="absolute bottom-0 left-1/2 transform -translate-x-1/2 scale-125 z-0"
          >
            <svg
              width="350"
              height="400"
              viewBox="0 0 200 200"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill="#dc2626"
                d="M52.7,-14.7C61.2,9,56.1,39.6,35.8,55.9C15.5,72.2,-19.9,74.2,-40,58.7C-60.1,43.3,-64.8,10.3,-55.6,-14.4C-46.3,-39.1,-23.2,-55.5,-0.5,-55.4C22.1,-55.2,44.2,-38.4,52.7,-14.7Z"
                transform="translate(100 100) scale(1.2)"
              />
            </svg>
          </span>

          <!-- Foto -->
          <img
            src="src/img/fazaanggapr-taruna-removebg-preview (2).png"
            alt="Faza Angga"
            class="relative z-10 mx-auto max-w-full"
            width="400"
            height="400"
          />
        </div>
      </div>

      <!-- About Text Section -->
      <div class="w-full lg:w-1/2 px-4">
        <h2
          class="font-bold text-dark text-3xl lg:text-4xl mb-5 max-w-md dark:text-white"
        >
          Profile
        </h2>
        <p
          class="font-medium text-base text-secondary lg:text-lg mb-6 max-w-xl"
        >
          I am a student who has a strong interest in software engineering.
          During my schooling, I concentrate on my major. I continue to learn to
          improve my skills in website development.
        </p>
        <div class="flex flex-wrap">
          <div class="w-full md:w-1/2 dark:text-white">
            <ul class="mb-4 space-y-2">
              <li>
                <i class="bi bi-chevron-right text-primary mr-1"></i>
                <strong>Email:</strong> fazaanggapr@gmail.com
              </li>
              <li>
                <i class="bi bi-chevron-right text-primary mr-1"></i>
                <strong>Phone:</strong> +62 838-7498-8972
              </li>
              <li>
                <i class="bi bi-chevron-right text-primary mr-1"></i>
                <strong>City:</strong> Bogor, West Java, Indonesia
              </li>
            </ul>
          </div>
        </div>

        <!-- Resume Button -->
        <a
          href="/Faza_Angga_Pramuditio.pdf"
          download="Faza_Resume.pdf"
          class="inline-flex items-center gap-2 text-base font-semibold text-white bg-primary py-3 px-8 rounded-full hover:shadow-lg hover:opacity-80 transition duration-300 ease-in-out"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 fill-white"
            viewBox="0 0 24 24"
          >
            <path
              d="M14 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V8l-6-6zM13 9V3.5L18.5 9H13zM8 13h8v2H8v-2zm0 4h5v2H8v-2z"
            />
          </svg>
          My Resume
        </a>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->
